.nav-cta-icon {
    position: relative;
}

.number-sm-badge {
    top: -10px;
}

.cover-div {
    position:relative;
    background-size: cover;
    height: 40rem;
}

.cover-text-box {
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 25%;
    left: 17%;
    color: white;
}

.cover-heading {
    color: var(--primary-color);
    text-shadow: 3px 3px 4px var(--light-gray-color);
}

.cover-text {
    font-size: 2rem; 
    width: 60%;
}
  
@media screen and (max-width: 864px) {
    html {
        font-size: 80%;
    }
    .nav-items-box {
        display: flex;
    }

    .nav-cta-box {
        display: none;
    }

    .cover-text-box {
        left: 15%;
    }
}


@media screen and (max-width: 540px) {
    .mobile-hidden {
        display: none;
    }

    .cover-text-box {
        align-items: center;
        text-align: center;
        width: fit-content;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
}
